<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.ArrangementDao" >  

  <resultMap type="com.enn.commodity.synergistic.entity.Arrangement" id="arrangementResultMap">
		<id property="id" column="arrangement_id"/>
		<result property="version" column="arrangement_version"/>
		<result property="name" column="arrangement_name"/>
		<result property="comments" column="arrangement_comments"/>
		<result property="organizationId" column="arrangement_organizationId"/>
		<result property="organizationName" column="arrangement_organizationName"/>
		<result property="userId" column="arrangement_userId"/>
		<result property="userName" column="arrangement_userName"/>
		<result property="privateId" column="arrangement_privateId"/>
		<result property="dataType" column="arrangement_dataType"/>
		<result property="goodsType" column="arrangement_goodsType"/>
		<result property="dataSourceId" column="arrangement_dataSourceId"/>
		<result property="dataSourceName" column="arrangement_dataSourceId"/>
		<result property="buyerId" column="arrangement_buyerId"/>
		<result property="buyerName" column="arrangement_buyerName"/>
		<result property="sellerId" column="arrangement_sellerId"/>
		<result property="sellerName" column="arrangement_sellerName"/>
		<result property="type" column="arrangement_type"/>
		<result property="issuedDate" column="arrangement_issuedDate"/>
		<result property="expireDate" column="arrangement_expireDate"/>
		<result property="expiredDate" column="arrangement_expiredDate"/>
		<result property="productId" column="arrangement_productId"/>
		<result property="productName" column="arrangement_productName"/>
		<result property="customerArrangementId" column="arrangement_customerArrangementId"/>
		<result property="startDate" column="arrangement_startDate"/>
		<result property="endDate" column="arrangement_endDate"/>

		<!-- association：配置的一对一属性 -->
		<!-- property：名字
			 javaType：类型
		 -->
		<association property="arrangementdetail" resultMap="materialdetailResultMap"/>
		
	</resultMap>



        <resultMap type="com.enn.commodity.synergistic.entity.MaterialDetail" id="materialdetailResultMap">
            <id property="id" column="materialdetail_id"/>
			<result property="version" column="materialdetail_version"/>
			<result property="name" column="materialdetail_name"/>
			<result property="comments" column="materialdetail_comments"/>
			<result property="organizationId" column="materialdetail_organizationId"/>
			<result property="organizationName" column="materialdetail_organizationName"/>
			<result property="userId" column="materialdetail_userId"/>
			<result property="userName" column="materialdetail_userName"/>
			<result property="privateId" column="materialdetail_privateId"/>
			<result property="dataType" column="materialdetail_dataType"/>
			<result property="goodsType" column="materialdetail_goodsType"/>
			<result property="quantity" column="materialdetail_quantity"/>
			<result property="quantityUnit" column="materialdetail_quantityUnit"/>
			<result property="priceNoTax" column="materialdetail_priceNoTax"/>
			<result property="priceWithTax" column="materialdetail_priceWithTax"/>
			<result property="totalPriceNoTax" column="materialdetail_totalPriceNoTax"/>
			<result property="totalPriceWithTax" column="materialdetail_totalPriceWithTax"/>
			<result property="priceQualityUnit" column="materialdetail_priceQualityUnit"/>
			<result property="taxRate" column="materialdetail_taxRate"/>
			<result property="tax" column="materialdetail_tax"/>
			<result property="masterId" column="materialdetail_masterId"/>
			<result property="realTotalPrice" column="materialdetail_realTotalPrice"/>
			<result property="realPrice" column="materialdetail_realPrice"/>
        
        </resultMap>


        

 <select id="SelectArrangementByObject" resultMap="arrangementResultMap" parameterType="com.enn.commodity.synergistic.entity.Arrangement">
     SELECT *
     FROM arrangement a
     	LEFT JOIN materialdetail m
			ON a.arrangement_materialDetailId = m.materialdetail_id
     WHERE 1=1
     <if test="id!=null and id!=''" >
     and a.arrangement_id=#{id}
    </if>
    <if test="name!=null and name!=''" >
     and a.arrangement_name=#{name}
    </if>
    <if test="version!=null and version!=''" >
     and a.arrangement_version=#{version}
    </if>
    <if test="comments!=null and comments!=''" >
     and a.arrangement_comments=#{comments}
    </if>
    <if test="organizationId!=null and organizationId!=''" >
     and a.arrangement_organizationId=#{organizationId}
    </if>
    <if test="organizationName!=null and organizationName!=''" >
     and a.arrangement_organizationName=#{organizationName}
    </if>
    <if test="userId!=null and userId!=''" >
     and a.arrangement_userId=#{userId}
    </if>
    <if test="userName!=null and userName!=''" >
     and a.arrangement_userName=#{userName}
    </if>
    <if test="privateId!=null and privateId!=''" >
     and a.arrangement_privateId=#{privateId}
    </if>
    <if test="dataType!=null and dataType!=''" >
     and a.arrangement_dataType=#{dataType}
    </if>
    <if test="goodsType!=null and goodsType!=''" >
     and a.arrangement_goodsType=#{goodsType}
    </if>
    <if test="dataSourceId!=null and dataSourceId!=''" >
     and a.arrangement_dataSourceId=#{dataSourceId}
    </if>
    <if test="dataSourceName!=null and dataSourceName!=''" >
     and a.arrangement_dataSourceName=#{dataSourceName}
    </if>
    <if test="buyerId!=null and buyerId!=''" >
     and a.arrangement_buyerId=#{buyerId}
    </if>
     <if test="sellerId!=null and sellerId!=''" >
     or a.arrangement_sellerId=#{sellerId}
    </if>
    <if test="buyerName!=null and buyerName!=''" >
     and a.arrangement_buyerName=#{buyerName}
    </if>
   
    <if test="sellerName!=null and sellerName!=''" >
     and a.arrangement_sellerName=#{sellerName}
    </if>
    <if test="type!=null and type!=''" >
     and a.arrangement_type=#{type}
    </if>
    <if test="issuedDate!=null and issuedDate!=''" >
     and a.arrangement_issuedDate=#{issuedDate}
    </if>
    <if test="expireDate!=null and expireDate!=''" >
     and a.arrangement_expireDate=#{expireDate}
    </if>
    <if test="expiredDate!=null and expiredDate!=''" >
     and a.arrangement_expiredDate=#{expiredDate}
    </if>
    <if test="productId!=null and productId!=''" >
     and a.arrangement_productId=#{productId}
    </if>
    <if test="productName!=null and productName!=''" >
     and a.arrangement_productName=#{productName}
    </if>
    <if test="customerArrangementId!=null and customerArrangementId!=''" >
     and a.arrangement_customerArrangementId=#{customerArrangementId}
    </if>

  </select>
  
  
  <select id="SelectArrangementByObjectIn" resultMap="arrangementResultMap" parameterType="java.util.Map">
     SELECT *
     FROM arrangement a
     	LEFT JOIN materialdetail m
			ON a.arrangement_materialDetailId = m.materialdetail_id
     WHERE 1=1
     <if test="productName!=null and productName!=''" >
     and a.arrangement_productName in
     <foreach collection="productName.split(',')" item="pn" index="index" open="(" close=")" separator=",">
     '${pn}'
     </foreach>
     </if>
     <if test="id!=null and id!=''" >
     and a.arrangement_id=#{id}
    </if>
    <if test="name!=null and name!=''" >
     and a.arrangement_name=#{name}
    </if>
    <if test="version!=null and version!=''" >
     and a.arrangement_version=#{version}
    </if>
    <if test="comments!=null and comments!=''" >
     and a.arrangement_comments=#{comments}
    </if>
    <if test="organizationId!=null and organizationId!=''" >
     and a.arrangement_organizationId=#{organizationId}
    </if>
    <if test="organizationName!=null and organizationName!=''" >
     and a.arrangement_organizationName=#{organizationName}
    </if>
    <if test="userId!=null and userId!=''" >
     and a.arrangement_userId=#{userId}
    </if>
    <if test="userName!=null and userName!=''" >
     and a.arrangement_userName=#{userName}
    </if>
    <if test="privateId!=null and privateId!=''" >
     and a.arrangement_privateId=#{privateId}
    </if>
    <if test="dataType!=null and dataType!=''" >
     and a.arrangement_dataType=#{dataType}
    </if>
    <if test="goodsType!=null and goodsType!=''" >
     and a.arrangement_goodsType=#{goodsType}
    </if>
    <if test="dataSourceId!=null and dataSourceId!=''" >
     and a.arrangement_dataSourceId=#{dataSourceId}
    </if>
    <if test="dataSourceName!=null and dataSourceName!=''" >
     and a.arrangement_dataSourceName=#{dataSourceName}
    </if>
    <if test="buyerId!=null and buyerId!=''" >
     and (a.arrangement_buyerId=#{buyerId}
    </if>
     <if test="sellerId!=null and sellerId!=''" >
     or a.arrangement_sellerId=#{sellerId})
    </if>
    <if test="buyerName!=null and buyerName!=''" >
     and a.arrangement_buyerName=#{buyerName}
    </if>
   
    <if test="sellerName!=null and sellerName!=''" >
     and a.arrangement_sellerName=#{sellerName}
    </if>
    <if test="type!=null and type!=''" >
     and a.arrangement_type=#{type}
    </if>
    <if test="(issuedDateStart!=null and issuedDateStart!='')or(issuedDateEnd!=null and issuedDateEnd!='')" >
     and a.arrangement_issuedDate between #{issuedDateStart} and #{issuedDateEnd}
    </if>
    <if test="expireDate!=null and expireDate!=''" >
     and a.arrangement_expireDate=#{expireDate}
    </if>
    <if test="expiredDate!=null and expiredDate!=''" >
     and a.arrangement_expiredDate=#{expiredDate}
    </if>
    <if test="productId!=null and productId!=''" >
     and a.arrangement_productId=#{productId}
    </if>
    
    <if test="customerArrangementId!=null and customerArrangementId!=''" >
     and a.arrangement_customerArrangementId=#{customerArrangementId}
    </if>
    <if test="startDate!=null and startDate!=''" >
     and a.arrangement_startDate=#{startDate}
    </if>
    <if test="endDate!=null and endDate!=''" >
     and a.arrangement_endDate=#{endDate}
    </if>
    <if test="totalPriceWithTaxStart!=null and totalPriceWithTaxEnd!=''" >
     and CONVERT(m.materialdetail_totalPriceWithTax,SIGNED) between CONVERT(#{totalPriceWithTaxStart},SIGNED) and CONVERT(#{totalPriceWithTaxEnd},SIGNED)
     
     </if>

  </select>
 
 <insert id="CreateArrangement"  keyColumn="arrangement_id" parameterType="com.enn.commodity.synergistic.entity.Arrangement">
    insert into arrangement 
    (arrangement_id,arrangement_version,arrangement_name,arrangement_comments,arrangement_organizationId,arrangement_organizationName,
    arrangement_userId,arrangement_userName,arrangement_privateId,arrangement_dataType,arrangement_goodsType,arrangement_dataSourceId,arrangement_dataSourceName,arrangement_buyerId,arrangement_buyerName,arrangement_sellerId,arrangement_sellerName,arrangement_type,arrangement_issuedDate,arrangement_expireDate,arrangement_expiredDate,arrangement_productId,arrangement_productName,arrangement_customerArrangementId,arrangement_startDate,arrangement_endDate,arrangement_materialDetailId)
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{dataSourceId},#{dataSourceName},#{buyerId},#{buyerName},#{sellerId},#{sellerName},#{type},
    #{issuedDate},#{expireDate},#{expiredDate},#{productId},#{productName},#{customerArrangementId},#{startDate},#{endDate},#{arrangementdetail.id})
  </insert>
  
  <insert id="CreateMaterialDetail"  keyColumn="materialdetail_id" parameterType="com.enn.commodity.synergistic.entity.MaterialDetail">
    insert into materialdetail 
    (materialdetail_id,materialdetail_version,materialdetail_name,materialdetail_comments,materialdetail_organizationId,materialdetail_organizationName,
    materialdetail_userId,materialdetail_userName,materialdetail_privateId,materialdetail_dataType,materialdetail_goodsType,materialdetail_quantity,materialdetail_quantityUnit,materialdetail_priceNoTax,materialdetail_priceWithTax,materialdetail_totalPriceNoTax,materialdetail_totalPriceWithTax,materialdetail_priceQualityUnit,materialdetail_taxRate,materialdetail_tax,materialdetail_masterId,materialdetail_realTotalPrice,materialdetail_realPrice) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{quantity},#{quantityUnit},#{priceNoTax},#{priceWithTax},#{totalPriceNoTax},
    #{totalPriceWithTax},#{priceQualityUnit},#{taxRate},#{tax},#{masterId},#{realTotalPrice},#{realPrice})
  </insert>
 
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>