<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.FunctionDao" >  
 
 <select id="SelectFunctionsByUserId" resultType="com.enn.commodity.synergistic.entity.Function" parameterType="com.enn.commodity.synergistic.entity.User">
 
     SELECT funindex,funid,funname,funurl,poweridfy,fundetail 
     FROM `function` 
     where 
     funindex IN 
     (SELECT funindex FROM role_function WHERE roleindex 
     IN
     (SELECT roleindex FROM role WHERE userId=#{userId}))
    
  </select>
 
 <select id="SelectFunctionsByRoleId" resultType="com.enn.commodity.synergistic.entity.Function" parameterType="com.enn.commodity.synergistic.entity.User">
 
    SELECT funindex,funid,funname,funurl,poweridfy,fundetail 
    FROM `function` 
    where 
    funindex IN 
    (SELECT funindex FROM role_function WHERE roleindex 
    IN
    (SELECT roleindex FROM role WHERE roleId=#{roleId}))
 
 </select>
 
 
 <select id="SelectFunctionsByFunname" resultType="com.enn.commodity.synergistic.entity.Function" parameterType="com.enn.commodity.synergistic.entity.Function">
 
     SELECT funindex,funid,funname,funurl,poweridfy,fundetail 
     FROM `function` 
     where 1=1
     <if test="funname!=null and funname!=''" >
     and funname=#{funname}
     </if>
     
    
  </select>
 
 <insert id="insertFunction" useGeneratedKeys="true" keyProperty="areaId" keyColumn="funindex" parameterType="com.enn.commodity.synergistic.entity.Function">
    insert into `function` 
    (funid,funname,funurl,poweridfy,fundetail) 
    values
    (#{funid},#{funname},#{funurl},#{poweridfy},#{fundetail})
  </insert>
 
 <update id="updateFunction" parameterType="com.enn.commodity.synergistic.entity.Function">
     UPDATE `function`
     <set>
       <if test="funname!=null">funname=#{funname},</if>
       <if test="funurl!=null">funurl=#{funurl},</if>
       <if test="poweridfy!=null">poweridfy=#{poweridfy}</if>
       <if test="fundetail!=null">fundetail=#{fundetail}</if>
     </set>
     WHERE funid=#{funid}
  </update>
 
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  <update id="updateArea" parameterType="com.yaw.demo.entity.Area">
     UPDATE area
     <set>
       <if test="areaName!=null">areaName=#{areaName},</if>
       <if test="priority!=null">priority=#{priority},</if>
       <if test="lastEditTime!=null">lastEditTime=#{lastEditTime}</if>
     </set>
     WHERE areaId=#{areaId}
  </update>
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>