<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.PlanDao" >  
 <select id="QueryPlanByOrgid" resultType="com.enn.commodity.synergistic.entity.Plan">
     SELECT planindex,orgid,ordered,enorder,orderdate,ordertime
     FROM plan
     WHERE 1=1
     <if test="orgid!=null and orgid!=''" >
     and orgid=#{orgid}
     </if>
     <if test="orderdate!=null and orderdate!=''" >
     and orderdate=#{orderdate}
     </if>
    
  </select>
 
 <insert id="insertPlan" useGeneratedKeys="true" keyProperty="planindex" keyColumn="planindex" parameterType="com.enn.commodity.synergistic.entity.Plan">
    insert into plan (orgid,ordered,enorder,orderdate,ordertime) values(#{orgid},#{ordered},#{enorder},#{orderdate},#{ordertime})
  </insert>
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  <update id="updateArea" parameterType="com.yaw.demo.entity.Area">
     UPDATE area
     <set>
       <if test="areaName!=null">areaName=#{areaName},</if>
       <if test="priority!=null">priority=#{priority},</if>
       <if test="lastEditTime!=null">lastEditTime=#{lastEditTime}</if>
     </set>
     WHERE areaId=#{areaId}
  </update>
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>