<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.PurchaseOrderDao" >

  <resultMap type="com.enn.commodity.synergistic.entity.MaterialDetail" id="materialdetailResultMap">
            <id property="id" column="materialdetail_id"/>
			<result property="version" column="materialdetail_version"/>
			<result property="name" column="materialdetail_name"/>
			<result property="comments" column="materialdetail_comments"/>
			<result property="organizationId" column="materialdetail_organizationId"/>
			<result property="organizationName" column="materialdetail_organizationName"/>
			<result property="userId" column="materialdetail_userId"/>
			<result property="userName" column="materialdetail_userName"/>
			<result property="privateId" column="materialdetail_privateId"/>
			<result property="dataType" column="materialdetail_dataType"/>
			<result property="goodsType" column="materialdetail_goodsType"/>
			<result property="quantity" column="materialdetail_quantity"/>
			<result property="quantityUnit" column="materialdetail_quantityUnit"/>
			<result property="priceNoTax" column="materialdetail_priceNoTax"/>
			<result property="priceWithTax" column="materialdetail_priceWithTax"/>
			<result property="totalPriceNoTax" column="materialdetail_totalPriceNoTax"/>
			<result property="totalPriceWithTax" column="materialdetail_totalPriceWithTax"/>
			<result property="priceQualityUnit" column="materialdetail_priceQualityUnit"/>
			<result property="taxRate" column="materialdetail_taxRate"/>
			<result property="tax" column="materialdetail_tax"/>
			<result property="masterId" column="materialdetail_masterId"/>
			<result property="realTotalPrice" column="materialdetail_realTotalPrice"/>
			<result property="realPrice" column="materialdetail_realPrice"/>
        
        </resultMap>

  <resultMap type="com.enn.commodity.synergistic.entity.PO" id="poResultMap">
		<id property="id" column="po_id"/>
		<result property="version" column="po_version"/>
		<result property="name" column="po_name"/>
		<result property="comments" column="po_comments"/>
		<result property="organizationId" column="po_organizationId"/>
		<result property="organizationName" column="po_organizationName"/>
		<result property="userId" column="po_userId"/>
		<result property="userName" column="po_userName"/>
		<result property="privateId" column="po_privateId"/>
		<result property="dataType" column="po_dataType"/>
		<result property="goodsType" column="po_goodsType"/>
		<result property="dataSourceId" column="po_dataSourceId"/>
		<result property="dataSourceName" column="po_dataSourceName"/>
		<result property="buyerId" column="po_buyerId"/>
		<result property="buyerName" column="po_buyerName"/>
		<result property="sellerId" column="po_sellerId"/>
		<result property="sellerName" column="po_sellerName"/>
		<result property="type" column="po_type"/>
		<result property="arrangementId" column="po_arrangementId"/>
		<result property="customerArrangementId" column="po_customerArrangementId"/>
		<result property="relatedPONumber" column="po_relatedPONumber"/>
		<result property="issuedDate" column="po_issuedDate"/>
		<result property="status" column="po_status"/>
		<result property="productId" column="po_productId"/>
		<result property="productName" column="po_productName"/>
		<result property="productType" column="po_productType"/>
		<result property="carryPONumber" column="po_carryPONumber"/>
		<result property="carrierId" column="po_carrierId"/>
		<result property="carrierName" column="po_carrierName"/>
		<result property="discontRate" column="po_discontRate"/>
		<result property="payType" column="po_payType"/>
		<result property="poType" column="po_poType"/>
		<result property="plateno" column="po_plateno"/>
		<result property="payTypeName" column="po_payTypeName"/>
		<result property="salesPONumber" column="po_salesPONumber"/>
		<result property="purchasePONumber" column="po_purchasePONumber"/>  
		<result property="completeWeight" column="po_completeWeight"/>
		<result property="carNumber" column="po_carNumber"/>
		<!-- association：配置的一对一属性 -->
		<!-- property：名字
			 javaType：类型
		 -->
		<association property="materialdetail" resultMap="materialdetailResultMap"/>
		
		<collection property="payment" ofType="com.enn.commodity.synergistic.entity.Payment">
			
			<id property="id" column="payment_id"/>
		<result property="version" column="payment_version"/>
		<result property="name" column="payment_name"/>
		<result property="comments" column="payment_comments"/>
		<result property="organizationId" column="payment_organizationId"/>
		<result property="organizationName" column="payment_organizationName"/>
		<result property="userId" column="payment_userId"/>
		<result property="userName" column="payment_userName"/>
		<result property="privateId" column="payment_privateId"/>
		<result property="dataType" column="payment_dataType"/>
		<result property="goodsType" column="payment_goodsType"/>
		<result property="payerId" column="payment_payerId"/>
		<result property="payerName" column="payment_payerName"/>
		<result property="payerBankOfDeposit" column="payment_payerBankOfDeposit"/>
		<result property="payerAccountId" column="payment_payerAccountId"/>
		<result property="payeeId" column="payment_payeeId"/>
		<result property="payeeName" column="payment_payeeName"/>
		<result property="payeeBankOfDeposit" column="payment_payeeBankOfDeposit"/>
		<result property="payeeAccountId" column="payment_payeeAccountId"/>
		<result property="payType" column="payment_payType"/>
		<result property="reason" column="payment_reason"/>
		<result property="customerPaymentId" column="payment_customerPaymentId"/>
		<!-- association：配置的一对一属性 -->
		<!-- property：名字
			 javaType：类型
		 -->
		<association property="paymentdetail" javaType="com.enn.commodity.synergistic.entity.PaymentDetail">
			<id property="id" column="paymentdetail_id"/>
			<result property="version" column="paymentdetail_version"/>
		<result property="name" column="paymentdetail_name"/>
		<result property="comments" column="paymentdetail_comments"/>
		<result property="organizationId" column="paymentdetail_organizationId"/>
		<result property="organizationName" column="paymentdetail_organizationName"/>
		<result property="userId" column="paymentdetail_userId"/>
		<result property="userName" column="paymentdetail_userName"/>
		<result property="privateId" column="paymentdetail_privateId"/>
		<result property="dataType" column="paymentdetail_dataType"/>
		<result property="goodsType" column="paymentdetail_goodsType"/>
			<result property="paymentId" column="paymentdetail_paymentId"/>
			<result property="amount" column="paymentdetail_amount"/>
			<result property="currency" column="paymentdetail_currency"/>
			<result property="date" column="paymentdetail_date"/>
			<result property="customerPaymentId" column="paymentdetail_customerPaymentId"/>
		</association>
			
		</collection>
	</resultMap>


<select id="SelectPOByObject" resultMap="poResultMap" parameterType="com.enn.commodity.synergistic.entity.PO">
    SELECT *
     FROM po p
     	LEFT JOIN materialdetail m
			ON p.po_materialDetailId = m.materialdetail_id
     	LEFT JOIN payment pa
			ON p.po_id=pa.payment_poId
     	LEFT JOIN paymentdetail pd
		ON pa.payment_id=pd.paymentdetail_paymentId
     WHERE 1=1
    <if test="id!=null and id!=''" >
     and p.po_id=#{id}
    </if>
    <if test="name!=null and name!=''" >
     and p.po_name=#{name}
    </if>
    <if test="version!=null and version!=''" >
     and p.po_version=#{version}
    </if>
    <if test="comments!=null and comments!=''" >
     and p.po_comments=#{comments}
    </if>
    <if test="organizationId!=null and organizationId!=''" >
     and p.po_organizationId=#{organizationId}
    </if>
    <if test="organizationName!=null and organizationName!=''" >
     and p.po_organizationName=#{organizationName}
    </if>
    <if test="userId!=null and userId!=''" >
     and p.po_userId=#{userId}
    </if>
    <if test="userName!=null and userName!=''" >
     and p.po_userName=#{userName}
    </if>
    <if test="privateId!=null and privateId!=''" >
     and p.po_privateId=#{privateId}
    </if>
    <if test="dataType!=null and dataType!=''" >
     and p.po_dataType=#{dataType}
    </if>
    <if test="goodsType!=null and goodsType!=''" >
     and p.po_goodsType=#{goodsType}
    </if>
    <if test="dataSourceId!=null and dataSourceId!=''" >
     and p.po_dataSourceId=#{dataSourceId}
    </if>
    <if test="dataSourceName!=null and dataSourceName!=''" >
     and p.po_dataSourceName=#{dataSourceName}
    </if>
    <if test="buyerId!=null and buyerId!=''" >
     and p.po_buyerId=#{buyerId}
    </if>
    <if test="sellerId!=null and sellerId!=''" >
     or p.po_sellerId=#{sellerId}
    </if>
    <if test="buyerName!=null and buyerName!=''" >
     and p.po_buyerName=#{buyerName}
    </if>
    
    <if test="sellerName!=null and sellerName!=''" >
     and p.po_sellerName=#{sellerName}
    </if>
    <if test="type!=null and type!=''" >
     and p.po_type=#{type}
    </if>
    <if test="arrangementId!=null and arrangementId!=''" >
     and p.po_arrangementId=#{arrangementId}
    </if>
    <if test="customerArrangementId!=null and customerArrangementId!=''" >
     and p.po_customerArrangementId=#{customerArrangementId}
    </if>
    <if test="relatedPONumber!=null and relatedPONumber!=''" >
     and p.po_relatedPONumber=#{relatedPONumber}
    </if>
    <if test="issuedDate!=null and issuedDate!=''" >
     and p.po_issuedDate=#{issuedDate}
    </if>
    <if test="status!=null and status!=''" >
     and p.po_status=#{status}
    </if>
    <if test="productId!=null and productId!=''" >
     and p.po_productId=#{productId}
    </if>
    <if test="productName!=null and productName!=''" >
     and p.po_productName=#{productName}
    </if>
    <if test="productType!=null and productType!=''" >
     and p.po_productType=#{productType}
    </if>
    <if test="carryPONumber!=null and carryPONumber!=''" >
     and p.po_carryPONumber=#{carryPONumber}
    </if>
    <if test="carrierId!=null and carrierId!=''" >
     and p.po_carrierId=#{carrierId}
    </if>
    <if test="carrierName!=null and carrierName!=''" >
     and p.po_carrierName=#{carrierName}
    </if>
    <if test="discontRate!=null and discontRate!=''" >
     and p.po_discontRate=#{discontRate}
    </if>
     <if test="payType!=null and payType!=''" >
     and p.po_payType=#{payType}
    </if>
    <if test="poType!=null and poType!=''" >
     and p.po_poType=#{poType}
    </if>
    <if test="plateno!=null and plateno!=''" >
     and p.po_plateno=#{plateno}
    </if>
    <if test="poType!=null and poType!=''" >
     and p.po_poType=#{poType}
    </if>
    <if test="payTypeName!=null and payTypeName!=''" >
     and p.po_payTypeName=#{payTypeName}
    </if>
    <if test="salesPONumber!=null and salesPONumber!=''" >
     and p.po_salesPONumber=#{salesPONumber}
    </if>
    <if test="purchasePONumber!=null and purchasePONumber!=''" >
     and p.po_purchasePONumber=#{purchasePONumber}
    </if>
    <if test="completeWeight!=null and completeWeight!=''" >
     and p.po_completeWeight=#{completeWeight}
    </if>
  </select>
  
  
  
  <select id="SelectPOByObjectIn" resultMap="poResultMap" parameterType="java.util.Map">
    SELECT *
     FROM po p
     	LEFT JOIN materialdetail m
			ON p.po_materialDetailId = m.materialdetail_id
     	LEFT JOIN payment pa
			ON p.po_id=pa.payment_poId
     	LEFT JOIN paymentdetail pd
		ON pa.payment_id=pd.paymentdetail_paymentId
     WHERE 1=1
     <if test="productName!=null and productName!=''" >
     and p.po_productName in
     <foreach collection="productName.split(',')" item="pn" index="index" open="(" close=")" separator=",">
     '${pn}'
     </foreach>
     </if>
    
     and ((p.po_buyerId=#{orgId} or p.po_buyerId=#{organizationId})
     and (p.po_sellerId=#{orgId} or p.po_sellerId=#{organizationId}) )
    
    <if test="id!=null and id!=''" >
     and p.po_id=#{id}
    </if>
    <if test="name!=null and name!=''" >
     and p.po_name=#{name}
    </if>
    <if test="version!=null and version!=''" >
     and p.po_version=#{version}
    </if>
    <if test="comments!=null and comments!=''" >
     and p.po_comments=#{comments}
    </if>
    
    <if test="userId!=null and userId!=''" >
     and p.po_userId=#{userId}
    </if>
    <if test="userName!=null and userName!=''" >
     and p.po_userName=#{userName}
    </if>
    <if test="privateId!=null and privateId!=''" >
     and p.po_privateId=#{privateId}
    </if>
    <if test="dataType!=null and dataType!=''" >
     and p.po_dataType=#{dataType}
    </if>
    <if test="goodsType!=null and goodsType!=''" >
     and p.po_goodsType=#{goodsType}
    </if>
    <if test="dataSourceId!=null and dataSourceId!=''" >
     and p.po_dataSourceId=#{dataSourceId}
    </if>
    <if test="dataSourceName!=null and dataSourceName!=''" >
     and p.po_dataSourceName=#{dataSourceName}
    </if>
    
    <if test="buyerName!=null and buyerName!=''" >
     and p.po_buyerName=#{buyerName}
    </if>
    
    <if test="sellerName!=null and sellerName!=''" >
     and p.po_sellerName=#{sellerName}
    </if>
    <if test="type!=null and type!=''" >
     and p.po_type=#{type}
    </if>
    <if test="arrangementId!=null and arrangementId!=''" >
     and p.po_arrangementId=#{arrangementId}
    </if>
    <if test="customerArrangementId!=null and customerArrangementId!=''" >
     and p.po_customerArrangementId=#{customerArrangementId}
    </if>
    <if test="relatedPONumber!=null and relatedPONumber!=''" >
     and p.po_relatedPONumber=#{relatedPONumber}
    </if>
    <if test="(issuedDateStart!=null and issuedDateStart!='')or(issuedDateEnd!=null and issuedDateEnd!='')" >
     and p.po_issuedDate between #{issuedDateStart} and #{issuedDateEnd}
    </if>
    <if test="status!=null and status!=''" >
     and p.po_status=#{status}
    </if>
    <if test="productId!=null and productId!=''" >
     and p.po_productId=#{productId}
    </if>
    
    <if test="productType!=null and productType!=''" >
     and p.po_productType=#{productType}
    </if>
    <if test="carryPONumber!=null and carryPONumber!=''" >
     and p.po_carryPONumber=#{carryPONumber}
    </if>
    <if test="carrierId!=null and carrierId!=''" >
     and p.po_carrierId=#{carrierId}
    </if>
    <if test="carrierName!=null and carrierName!=''" >
     and p.po_carrierName=#{carrierName}
    </if>
    <if test="discontRate!=null and discontRate!=''" >
     and p.po_discontRate=#{discontRate}
    </if>
     <if test="payType!=null and payType!=''" >
     and p.po_payType=#{payType}
    </if>
    <if test="plateno!=null and plateno!=''" >
     and p.po_plateno=#{plateno}
    </if>
    <if test="poType!=null and poType!=''" >
     and p.po_poType=#{poType}
    </if>
    <if test="payTypeName!=null and payTypeName!=''" >
     and p.po_payTypeName=#{payTypeName}
    </if>
    <if test="salesPONumber!=null and salesPONumber!=''" >
     and p.po_salesPONumber=#{salesPONumber}
    </if>
    <if test="purchasePONumber!=null and purchasePONumber!=''" >
     and p.po_purchasePONumber=#{purchasePONumber}
    </if>
    
    <!--  <if test="materialdetail.totalPriceWithTax!=null and materialdetail.totalPriceWithTax!=''" >
     and m.materialdetail_totalPriceWithTax=#{materialdetail.totalPriceWithTax}
    
    </if>-->
    
    <if test="totalPriceWithTaxStart!=null and totalPriceWithTaxEnd!=''" >
     and CONVERT(m.materialdetail_totalPriceWithTax,SIGNED) between CONVERT(#{totalPriceWithTaxStart},SIGNED) and CONVERT(#{totalPriceWithTaxEnd},SIGNED)
     
     </if>
    
  </select>
  
  
  <insert id="CreatePO"  keyColumn="po_id" parameterType="com.enn.commodity.synergistic.entity.PO">
    insert into po 
    (po_id,po_version,po_name,po_comments,po_organizationId,po_organizationName,
    po_userId,po_userName,po_privateId,po_dataType,po_goodsType,po_dataSourceId,po_dataSourceName,po_buyerId,po_buyerName,po_sellerId,po_sellerName,po_type,po_arrangementId,po_customerArrangementId,po_relatedPONumber,po_issuedDate,po_status,po_productId,po_productName,po_productType,po_carryPONumber,po_carrierId,po_carrierName,po_discontRate,po_payType,po_poType,po_plateno,po_payTypeName,po_salesPONumber,po_purchasePONumber,po_materialDetailId,po_completeWeight,po_carNumber) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{dataSourceId},#{dataSourceName},#{buyerId},#{buyerName},#{sellerId},#{sellerName},#{type},
    #{arrangementId},#{customerArrangementId},#{relatedPONumber},#{issuedDate},#{status},#{productId},#{productName},#{productType},#{carryPONumber},#{carrierId},#{carrierName},#{discontRate},#{payType},#{poType},#{plateno},#{payTypeName},#{salesPONumber},#{purchasePONumber},#{materialdetail.id},#{completeWeight},#{carNumber})
  </insert>
  
  <insert id="CreateMaterialDetail"  keyColumn="materialdetail_id" parameterType="com.enn.commodity.synergistic.entity.MaterialDetail">
    insert into materialdetail 
    (materialdetail_id,materialdetail_version,materialdetail_name,materialdetail_comments,materialdetail_organizationId,materialdetail_organizationName,
    materialdetail_userId,materialdetail_userName,materialdetail_privateId,materialdetail_dataType,materialdetail_goodsType,materialdetail_quantity,materialdetail_quantityUnit,materialdetail_priceNoTax,materialdetail_priceWithTax,materialdetail_totalPriceNoTax,materialdetail_totalPriceWithTax,materialdetail_priceQualityUnit,materialdetail_taxRate,materialdetail_tax,materialdetail_masterId,materialdetail_realTotalPrice,materialdetail_realPrice) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{quantity},#{quantityUnit},#{priceNoTax},#{priceWithTax},#{totalPriceNoTax},
    #{totalPriceWithTax},#{priceQualityUnit},#{taxRate},#{tax},#{masterId},#{realTotalPrice},#{realPrice})
  </insert>
  
  <insert id="CreatePayment"  keyColumn="payment_id" parameterType="com.enn.commodity.synergistic.entity.Payment">
    insert into payment 
    (payment_id,payment_version,payment_name,payment_comments,payment_organizationId,payment_organizationName,
    payment_userId,payment_userName,payment_privateId,payment_dataType,payment_goodsType,payment_payerId,payment_payerName,payment_payerBankOfDeposit,payment_payerAccountId,payment_payeeId,payment_payeeName,payment_payeeBankOfDeposit,payment_payeeAccountId,payment_payType,payment_reason,payment_customerPaymentId,payment_poId) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{payerId},#{payerName},#{payerBankOfDeposit},#{payerAccountId},#{payeeId},
    #{payeeName},#{payeeBankOfDeposit},#{payeeAccountId},#{payType},#{reason},#{customerPaymentId},#{poId})
  </insert>
  
  
  <insert id="CreatePaymentDetail"  keyColumn="paymentdetail_id" parameterType="com.enn.commodity.synergistic.entity.PaymentDetail">
    insert into paymentdetail 
    (paymentdetail_id,paymentdetail_version,paymentdetail_name,paymentdetail_comments,paymentdetail_organizationId,paymentdetail_organizationName,
    paymentdetail_userId,paymentdetail_userName,paymentdetail_privateId,paymentdetail_dataType,paymentdetail_goodsType,paymentdetail_paymentId,paymentdetail_amount,paymentdetail_currency,paymentdetail_date,paymentdetail_customerPaymentId) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{paymentId},#{amount},#{currency},#{date},#{customerPaymentId})
  </insert>
  
  <update id="UpdatePO" parameterType="com.enn.commodity.synergistic.entity.PO">
     UPDATE po
     <set>
       <if test="status!=null">po_status=#{status},</if>
       <if test="completeWeight!=null">po_completeWeight=#{completeWeight},</if>
       <if test="completeWeight!=null">po_carNumber=#{carNumber},</if>
     </set>
     WHERE po_id=#{id}
  </update>
  
  <update id="UpdateMaterialDetail" parameterType="com.enn.commodity.synergistic.entity.MaterialDetail">
     UPDATE materialdetail
     <set>
       <if test="quantity!=null">materialdetail_quantity=#{quantity},</if>
       <if test="quantityUnit!=null">materialdetail_quantityUnit=#{quantityUnit},</if>
       <if test="priceNoTax!=null">materialdetail_priceNoTax=#{priceNoTax},</if>
       <if test="priceWithTax!=null">materialdetail_priceWithTax=#{priceWithTax},</if>
       <if test="totalPriceNoTax!=null">materialdetail_totalPriceNoTax=#{totalPriceNoTax},</if>
       <if test="totalPriceWithTax!=null">materialdetail_totalPriceWithTax=#{totalPriceWithTax},</if>
       <if test="priceQualityUnit!=null">materialdetail_priceQualityUnit=#{priceQualityUnit},</if>
       <if test="realTotalPrice!=null">materialdetail_realTotalPrice=#{realTotalPrice},</if>
       <if test="realPrice!=null">materialdetail_realPrice=#{realPrice},</if>
     </set>
     WHERE materialdetail_id=#{id}
  </update>
  
  
  
  <delete id="DeletePO" parameterType="com.enn.commodity.synergistic.entity.PO">
     DELETE FROM
     po
     WHERE
     po_id=#{id}
  </delete>
  
  <delete id="DeleteMaterialDetail" parameterType="com.enn.commodity.synergistic.entity.PO">
     DELETE FROM
     materialdetail
     WHERE
     materialdetail_id=#{materialdetail.id}
  </delete>
  
  <delete id="DeletePayment" parameterType="com.enn.commodity.synergistic.entity.PO">
     DELETE FROM
     payment
     WHERE
     payment_poId=#{id}
  </delete>
  
  <delete id="DeletePaymentDetail" parameterType="com.enn.commodity.synergistic.entity.Payment">
     DELETE FROM
     paymentdetail
     WHERE
     paymentdetail_id=#{paymentdetail.id}
  </delete>
  <!--<resultMap type="com.enn.commodity.synergistic.entity.Payment" id="paymentResultMap">
		<id property="id" column="payment_id"/>
		<result property="version" column="payment_version"/>
		<result property="name" column="payment_name"/>
		<result property="comments" column="payment_comments"/>
		<result property="organizationId" column="payment_organizationId"/>
		<result property="organizationName" column="payment_organizationName"/>
		<result property="userId" column="payment_userId"/>
		<result property="userName" column="payment_userName"/>
		<result property="privateId" column="payment_privateId"/>
		<result property="dataType" column="payment_dataType"/>
		<result property="goodsType" column="payment_goodsType"/>
		<result property="payerId" column="payment_payerId"/>
		<result property="payerName" column="payment_payerName"/>
		<result property="payerBankOfDeposit" column="payment_payerBankOfDeposit"/>
		<result property="payerAccountId" column="payment_payerAccountId"/>
		<result property="payeeId" column="payment_payeeId"/>
		<result property="payeeName" column="payment_payeeName"/>
		<result property="payeeBankOfDeposit" column="payment_payeeBankOfDeposit"/>
		<result property="payeeAccountId" column="payment_payeeAccountId"/>
		<result property="payType" column="payment_payType"/>
		<result property="reason" column="payment_reason"/>
		<result property="customerPaymentId" column="payment_customerPaymentId"/>
		
		<association property="paymentdetail" javaType="com.enn.commodity.synergistic.entity.PaymentDetail">
			<id property="id" column="paymentdetail_id"/>
			<result property="version" column="paymentdetail_version"/>
		<result property="name" column="paymentdetail_name"/>
		<result property="comments" column="paymentdetail_comments"/>
		<result property="organizationId" column="paymentdetail_organizationId"/>
		<result property="organizationName" column="paymentdetail_organizationName"/>
		<result property="userId" column="paymentdetail_userId"/>
		<result property="userName" column="paymentdetail_userName"/>
		<result property="privateId" column="paymentdetail_privateId"/>
		<result property="dataType" column="paymentdetail_dataType"/>
		<result property="goodsType" column="paymentdetail_goodsType"/>
			<result property="paymentId" column="paymentdetail_paymentId"/>
			<result property="amount" column="paymentdetail_amount"/>
			<result property="currency" column="paymentdetail_currency"/>
			<result property="date" column="paymentdetail_date"/>
			<result property="customerPaymentId" column="paymentdetail_customerPaymentId"/>
		</association>
	</resultMap>

-->

 <!--<select id="SelectPaymentByObject" resultMap="paymentResultMap" parameterType="com.enn.commodity.synergistic.entity.Payment">
     SELECT *
     FROM payment p
     	LEFT JOIN paymentdetail pd
		ON p.`payment_id` = pd.paymentdetail_paymentId
     WHERE 1=1
     <if test="id!=null and id!=''" >
     and p.`payment_id`=#{id}
     </if>
    
     
  </select>
 
 <insert id="CreateSystemOrg"  keyColumn="ID" parameterType="com.enn.commodity.synergistic.entity.SystemOrg">
    insert into systemorg 
    (ID,name,comments,IP,port,orgID,orgName) 
    values
    (#{ID},#{name},#{comments},#{IP},#{port},#{orgID},#{orgName})
  </insert>
 
 <update id="UpdateSystemOrg" parameterType="com.enn.commodity.synergistic.entity.SystemOrg">
     UPDATE systemorg
     <set>
       <if test="name!=null">name=#{name},</if>
       <if test="comments!=null">comments=#{comments},</if>
       <if test="IP!=null">IP=#{IP},</if>
       <if test="port!=null">port=#{port},</if>
       <if test="orgID!=null">orgID=#{orgID},</if>
       <if test="orgName!=null">orgName=#{orgName},</if>
     </set>
     WHERE ID=#{ID}
  </update>
 
 
 -->
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>