<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.RequestOfOrgDao" >  

  <resultMap type="com.enn.commodity.synergistic.entity.RequestOfOrg" id="requestoforgResultMap">
		<id property="id" column="requestoforg_id"/>
		<result property="version" column="requestoforg_version"/>
		<result property="name" column="requestoforg_name"/>
		<result property="comments" column="requestoforg_comments"/>
		<result property="organizationId" column="requestoforg_organizationId"/>
		<result property="organizationName" column="requestoforg_organizationName"/>
		<result property="userId" column="requestoforg_userId"/>
		<result property="userName" column="requestoforg_userName"/>
		<result property="privateId" column="requestoforg_privateId"/>
		<result property="dataType" column="requestoforg_dataType"/>
		<result property="goodsType" column="requestoforg_goodsType"/>
		<result property="requestOrgId" column="requestoforg_requestOrgId"/>
		<result property="requestOrgName" column="requestoforg_requestOrgName"/>
		<result property="status" column="requestoforg_status"/>
		<result property="dataSource" column="requestoforg_dataSource"/>
		<result property="contact" column="requestoforg_contact"/>
		<result property="issuedDate" column="requestoforg_issuedDate"/>

		
	</resultMap>



       


        

 <select id="SelectRequestOfOrgByObject" resultMap="requestoforgResultMap" parameterType="com.enn.commodity.synergistic.entity.RequestOfOrg">
     SELECT *
     FROM requestoforg
     WHERE 1=1
     <if test="requestOrgId!=null and requestOrgId!=''" >
     and requestoforg_requestOrgId=#{requestOrgId}
    </if>
    <if test="requestOrgName!=null and requestOrgName!=''" >
     and requestoforg_requestOrgName=#{requestOrgName}
    </if>
    <if test="status!=null and status!=''" >
     and requestoforg_status=#{status}
    </if>
    <if test="dataSource!=null and dataSource!=''" >
     and requestoforg_dataSource=#{dataSource}
    </if>
    <if test="issuedDate!=null and issuedDate!=''" >
     and requestoforg_issuedDate=#{issuedDate}
    </if>

  </select>
 
 
 <insert id="CreateRequestOfOrg"  keyColumn="requestoforg_id" parameterType="com.enn.commodity.synergistic.entity.RequestOfOrg">
    insert into requestoforg 
    (requestoforg_id,requestoforg_version,requestoforg_name,requestoforg_comments,requestoforg_organizationId,requestoforg_organizationName,
    requestoforg_userId,requestoforg_userName,requestoforg_privateId,requestoforg_dataType,requestoforg_goodsType,requestoforg_requestOrgId,
    requestoforg_requestOrgName,requestoforg_status,requestoforg_dataSource,requestoforg_contact,requestoforg_issuedDate) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{requestOrgId},#{requestOrgName},#{status},
    #{dataSource},#{contact},#{issuedDate})
  </insert>
 
 
 <update id="UpdateRequestOfOrg" parameterType="com.enn.commodity.synergistic.entity.RequestOfOrg">
     UPDATE requestoforg
     <set>
       <if test="status!=null">requestoforg_status=#{status}</if>
     </set>
     WHERE requestoforg_id=#{id}
  </update>
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>