<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.RequestInfoDao" >  

  <resultMap type="com.enn.commodity.synergistic.entity.RequestInfo" id="requestinfoResultMap">
		<id property="id" column="requestinfo_id"/>
		<result property="version" column="requestinfo_version"/>
		<result property="name" column="requestinfo_name"/>
		<result property="comments" column="requestinfo_comments"/>
		<result property="organizationId" column="requestinfo_organizationId"/>
		<result property="organizationName" column="requestinfo_organizationName"/>
		<result property="userId" column="requestinfo_userId"/>
		<result property="userName" column="requestinfo_userName"/>
		<result property="privateId" column="requestinfo_privateId"/>
		<result property="dataType" column="requestinfo_dataType"/>
		<result property="goodsType" column="requestinfo_goodsType"/>
		<result property="ownerId" column="requestinfo_ownerId"/>
		<result property="ownerName" column="requestinfo_ownerName"/>
		<result property="friendId" column="requestinfo_friendId"/>
		<result property="friendName" column="requestinfo_friendName"/>
		<result property="status" column="requestinfo_status"/>
		<result property="issuedDate" column="requestinfo_issuedDate"/>

		
	</resultMap>



       


        

 <select id="SelectRequestInfoByObject" resultMap="requestinfoResultMap" parameterType="com.enn.commodity.synergistic.entity.RequestInfo">
     SELECT *
     FROM requestinfo
     WHERE 1=1
     <if test="ownerId!=null and ownerId!=''" >
     and requestinfo_ownerId=#{ownerId}
    </if>
    <if test="ownerName!=null and ownerName!=''" >
     and requestinfo_ownerName=#{ownerName}
    </if>
    <if test="friendId!=null and friendId!=''" >
     and requestinfo_friendId=#{friendId}
    </if>
    <if test="friendName!=null and friendName!=''" >
     and requestinfo_friendName=#{friendName}
    </if>
    <if test="status!=null and status!=''" >
     and requestinfo_status=#{status}
    </if>
    <if test="issuedDate!=null and issuedDate!=''" >
     and requestinfo_issuedDate=#{issuedDate}
    </if>

  </select>
 
 
 <insert id="CreateRequestInfo"  keyColumn="requestinfo_id" parameterType="com.enn.commodity.synergistic.entity.RequestInfo">
    insert into requestinfo 
    (requestinfo_id,requestinfo_version,requestinfo_name,requestinfo_comments,requestinfo_organizationId,requestinfo_organizationName,
    requestinfo_userId,requestinfo_userName,requestinfo_privateId,requestinfo_dataType,requestinfo_goodsType,requestinfo_ownerId,
    requestinfo_ownerName,requestinfo_friendId,requestinfo_friendName,requestinfo_status,requestinfo_issuedDate) 
    values
    (#{id},#{version},#{name},#{comments},#{organizationId},#{organizationName},#{userId},
    #{userName},#{privateId},#{dataType},#{goodsType},#{ownerId},#{ownerName},#{friendId},#{friendName},#{status},
    #{issuedDate})
  </insert>
 
 
 <update id="UpdateRquestInfo" parameterType="com.enn.commodity.synergistic.entity.RequestInfo">
     UPDATE requestinfo
     <set>
       <if test="status!=null">requestinfo_status=#{status}</if>
     </set>
     WHERE requestinfo_id=#{id}
  </update>
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>