<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.enn.commodity.synergistic.dao.UserDao" >  
 <select id="selectAllUser" resultType="com.enn.commodity.synergistic.entity.User">
     SELECT userindex,userId,userno,username,organizationId,organizationName,showname,password,mail,contactinfo,userstatus,usersconnect
     FROM user
  </select>
 
 <select id="SelectUsersByObject" resultType="com.enn.commodity.synergistic.entity.User" parameterType="com.enn.commodity.synergistic.entity.User">
     SELECT userindex,userId,userno,username,organizationId,organizationName,showname,password,mail,contactinfo,userstatus,usersconnect,plateno
     FROM user
     WHERE 1=1
     <if test="userId!=null and userId!=''" >
     and userId=#{userId}
     </if>
     <if test="password!=null and password!=''" >
     and password=#{password}
     </if>
     <if test="organizationId!=null and organizationId!=''" >
     and organizationId=#{organizationId}
     </if>
     <if test="username!=null and username!=''" >
     and username=#{username}
     </if>
     <if test="userstatus!=null and userstatus!=''" >
     and userstatus=#{userstatus}
     </if>
      <if test="plateno!=null and plateno!=''" >
     and plateno=#{plateno}
     </if>
  </select>
 
 
 <insert id="CreateUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="userId" parameterType="com.enn.commodity.synergistic.entity.User">
    insert into user 
    (userId,username,organizationId,organizationName,showname,password,mail,contactinfo) 
    values
    (#{userId},#{username},#{organizationId},#{organizationName},#{showname},#{password},#{mail},#{contactinfo})
  </insert>
  
  <update id="UpdatePassword" parameterType="com.enn.commodity.synergistic.entity.User">
     UPDATE user
     <set>
       <if test="password!=null">password=#{password}</if>
     </set>
     WHERE 1=2
     <if test="userId!=null and userId!='' and organizationId!=null and organizationId!=''" >
     or (userId=#{userId} and organizationId=#{organizationId})
     </if>
  </update>
  
  <update id="UpdateUser" parameterType="com.enn.commodity.synergistic.entity.User">
     UPDATE user
     <set>
       <if test="username!=null and username!=''">username=#{username},</if>
       <if test="showname!=null and showname!=''">showname=#{showname},</if>
       <if test="contactinfo!=null and contactinfo!=''">contactinfo=#{contactinfo},</if>
       <if test="mail!=null and mail!=''">mail=#{mail}</if>
       <if test="userstatus!=null and userstatus!=''">userstatus=#{userstatus}</if>
     </set>
     WHERE 1=2
     <if test="userId!=null and userId!='' and organizationId!=null and organizationId!=''" >
     or (userId=#{userId} and organizationId=#{organizationId})
     </if>
  </update>
  
  <update id="BatchUpdateUser" parameterType="Map">
     
     update user
     <set>
       userstatus=#{userstatus}
     </set>
     WHERE userId in
       <foreach collection="updateIdList" item="params" open="(" separator="," close=")">
      #{params.userId}
      </foreach>
  </update>
  
  <delete id="BatchDelete" parameterType="java.util.List">
        delete from user where userId in 
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.userId} 
            </foreach>
    </delete>
  
  <!-- <select id="queryAresById" resultType="com.yaw.demo.entity.Area">
     SELECT areaId,areaName,priority,createTime,lastEditTime
     FROM area
     WHERE areaId=#{areaId}
  </select>
  
  <insert id="insertArea" useGeneratedKeys="true" keyProperty="areaId" keyColumn="areaId" parameterType="com.yaw.demo.entity.Area">
    insert into area (areaName,priority,createTime,lastEditTime) values(#{areaName},#{priority},#{createTime},#{lastEditTime})
  </insert>
  
  
  
  <delete id="deleteArea">
     DELETE FROM
     area
     WHERE
     areaId=#{areaId}
  </delete> -->
</mapper>